body {
    margin: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*header box*/
.header-box {
    background-image: url(img/jumbo.png);
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 70px;
    padding-top: 15px;
}

.header-box__menu {
    display: flex;
    width: 100%;
    min-height: 25px;
    justify-content: center;
    padding: 10px;
    font-size: 12px;

}

.header-box__item {
    width: 240px;
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    align-items: center;
}

img.discord {
    width: 124px;
}

.header-box__item___middle {
    width: 450px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.header-box__item.right {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    align-items: center;
    font-weight: bold;
}

a.button {
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 15px;
}

.header-box__container {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.header-box__content {
    width: 50%;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1.title.bgwhite {
    font-size: 45px;
    color: white;
}

p.header-paragraph {
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
    line-height: 25px;
}

.header-box__button {
    display: flex;
    gap: 20px;
}

a.button.bgwhite {
    background-color: whitesmoke;
    font-weight: bold;
}

a.button.bggray {
    background-color: #23272a;
    font-weight: bold;
    color: white;
}

/*main*/
.section-box {
    display: flex;
    flex-direction: column;
}

.section-box__container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 170px;
}

.section__img-size {
    width: 130%;
}

.section-title {
    font-size: 35px;
}

.section-paragraph {
    font-size: 15px;
    line-height: 25px;
}


.section-box__big-content {
    width: 30%;

}

.section-box__content {
    width: 20%;
    min-height: 210px;
}

.section-box__container.gray {
    background-color: #f6f6f6;
}

.section-bigbox.intense-gray {
    background-color: #23232a;
}

.section-bigbox {
    background-color: #f6f6f6;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.section-bigbox__container {
    width: 60%;
    min-height: 350px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a.purple__button {
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #5865f2;
}

.fa-solid {
    font-weight: 900;
    font-size: 12px;
    margin-right: 5px;
}

a.lavender__button {
    background-color: #7289da;
    padding: 10px 10px;
    border-radius: 22px;
    font-size: 12px;
}

.wave-style {
    transform: rotate(180deg);
}

/*footer*/
.footer-box__container.intense-gray {
    background-color: #23232a;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    padding-top: 50px;
}

.bgpurple {
    color: #5865f2;
}

.footer-box__big-content.blue {
    width: 13%;
    min-height: 210px;
    margin-right: 90px;
}

h2.footer__bigline {
    font-size: 24px;
}

.italian-flag-box {
    display: flex;
    align-items: center;
}

img.size__ita {
    width: 32px;
    float: left;
    margin-right: 5px;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fa-brands {
    font-weight: 400;
    color: white;
}

.footer-box__content {
    width: 8.2%;
    margin-right: 50px;
    line-height: 25px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.second-footer {
    background-color: #23232a;
    width: 100%;
    /* min-height: 40px; */
    display: flex;
    justify-content: center;
    padding-top: 15px;

}

.second-footer__container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 100px;
    border-top: solid 1px white;
}

.second-footer__registrati {
    padding: 5px;
    border: solid 1px black;
    font-size: 12px;
}

.bgwhite {
    color: white;
}

.container-text-stars {
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    padding: 10px 40px;
}

/*hover*/

